a[href="#menu"]:not(.close) {
    position: absolute;
    top: 2.5%;
    left: 6%;
    color: white;
    font-size: 2em;
}

a.home {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    color: white;
    font-size: 2em;
}

#menu {
    @include vendor("transform", "translateX(20rem)");
    @include vendor("transition", ("transform #{_duration(menu)} ease", "visibility #{_duration(menu)}"));

    @include color("accent1");

    background-color: _palette(accent1, bg);
    background-image: linear-gradient(90deg, _palette(accent1, fg-dark), _palette(accent1, bg));
    -webkit-overflow-scrolling: touch;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3rem 2rem;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 20rem;
    z-index: _misc(z-index-base) + 2;

    > ul {
        margin: 0 0 (_size(element-margin) * 0.5) 0;

        &.links {
            list-style: none;
            padding: 0;

            > li {
                padding: 0;

                > a {
                    border: 0;
                    border-top: solid 1px _palette(accent1, border);
                    color: inherit;
                    display: block;
                    letter-spacing: _size(letter-spacing-alt);
                    line-height: 3.5rem;
                    text-decoration: none;
                }

                &:first-child {
                    > a:not(.button) {
                        border-top: 0 !important;
                    }
                }
            }
        }
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        &.primary {
            color: _palette(accent1, fg) !important;
        }
    }

    .close {
        @include icon;
        @include vendor("transition", "color #{_duration(transition)} ease-in-out");

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        border: 0;
        color: _palette(accent1, fg-light);
        cursor: pointer;
        display: block;
        height: 3.25rem;
        line-height: 3.25rem;
        padding-right: 1.25rem;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        vertical-align: middle;
        width: 7rem;

        &:before {
            content: '\f00d';
            font-family: 'Font Awesome\ 5 Free';
            font-size: 1.25rem;
            font-weight: 900;
            text-decoration: none;
        }

        &:hover {
            color: _palette(accent1, fg-bold);
        }

        @include breakpoint("<=small") {
            height: 4rem;
            line-height: 4rem;
        }
    }

    @include breakpoint("<=small") {
        padding: 2.5rem 1.75rem;
    }
}

body {
    &:after {
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background: _palette(bg-overlay);
        z-index: -1;
        opacity: 0;

        @include vendor("pointer-events", "none");
        @include vendor("transition", ("opacity #{_duration(menu)} ease-in-out", "z-index #{_duration(menu)}"));
    }

    &.is-menu-visible {
        #menu {
            @include vendor("transform", "translateX(0)");

            visibility: visible;
        }

        &:after {
            z-index: _misc(z-index-base);
            opacity: 0.75;

            @include vendor("pointer-events", "auto");

            cursor: default;
        }
    }
}
